/* CSS DOCUMENT */

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

/* GLOBAL =======================================================*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 1;
}

html, body 
{
    height: 100%;
}

body {
    /*min-height: 100%;*/
    font-family: Roboto, sans-serif;
}

h1 {
    font-size: 2.5em;
    font-weight: 500;
    padding-bottom: 20px;
}

section {
    width: 100%;
    height: auto;
}

nav {
    width: 100%;
    height: 55px;
    color: white;
    background: rgba(0, 188, 212, 0.9); /*transparent;*/
    position: fixed;
    text-align: center;
    padding-bottom: 10px;
    z-index: 2;
}

nav ul {
    position: relative;
    list-style-type: none;
    color: #ffd800;
    font-size: 1em;
    margin-left: 10%;
    margin-right: 2%;
    height: 55px;
}

nav li {
    display: inline;
    font-weight: 300;
}

nav li a {
    text-decoration: none;
    color: white;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 30px;
    display: inline-block;
    height: 30px;
}

nav li a:hover {
    color: #ffd800;
}

#navlist {
    width: auto;
    float: right;
}

#logo {
    float: left;
}
#logo:hover {
    /*color: white;*/
}

.active {
    font-weight: 400;
    color: #ffd800;
}

#hamburger {
    position: absolute;
    visibility: hidden;
}


/* HOMEPAGE --------------------------------------------------------*/


.home {
    /*background-image: radial-gradient(circle farthest-corner at top, #46befb 10%, #470085 90%);*/
    height: 100%;
    width: 100%;
    background: #00BCD4;
}

.container {
    width: 100%;
    height: 90%;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.splashtitle {
    line-height: 170%;
}

.hometitle {
    margin-bottom: 60px;
    color: #fff;
}
.hometitleColor {
    margin-bottom: 60px;
    color: #00BCD4;
}

.tileshadow {
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
}

.indeximg {
    float: right;
    position: relative;
    display: block;
    max-width: 100%;
    z-index: 0;
}

.desc {
    width: 80%;
    max-width: 500px;
    color: white;
    margin-top: 40px;
}

.desc p {
    font-size: 1em;
    line-height: 150%;
    font-weight: 300;
    letter-spacing: .5px;
}

.triangle1, .triangle2, .triangle3 {
    position: absolute;
}

.triangle1 {
    top: 450px;
    left: -150px;
    z-index: 1;
}

.triangle2 {
    top: 70px;
    left: 50px;
    z-index: 0;
}

.triangle3 {
    top: 100px;
    right: 30px;
    z-index: 0;
}


/* ABOUT --------------------------------------------------------*/

#aboutpage {
    position: relative;
    min-height: 100%;
    /*background-image: radial-gradient(circle farthest-corner at top, #46befb 10%, #470085 90%);*/
    background: #00BCD4;
    color: white;
    padding-bottom: 100px;
}

.bio {
    height: auto;
    padding-top: 150px;
    padding-bottom: 100px;
}

.about img {
    float: right;
    position: relative;
    border-radius: 150px;
    display: block;
    margin-right: 15%;
    max-width: 80%;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
}

.bio p {
    width: 80%;
    max-width: 480px;
}

.about p {
    font-size: 1em;
    font-weight: 300;
    line-height: 200%;
}

.contact {
    height: auto;
    width: 100%;
    text-align: center;
}

.contact ul {
    margin-bottom: 30px;
}

.contact li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

i {
    color: white;
    font-size: 3em;
    padding: 15px;
}
i:hover {
    color: #ffd800;
}




/* DESIGN RESEARCH --------------------------------------------------------*/

.design {
    position: relative;
    min-height: auto;
    /*background-image: radial-gradient(circle farthest-corner at top, #46befb 10%, #470085 90%);*/
    background: #ECEFF1;
    padding-top: 50px;
    padding-bottom: 100px;
    color: white;
    text-align: center;
}

.designmain {
    background: #00BCD4;
}

.design .row {
    margin-bottom: 30px;
}

.pcontainer {
    display: inline-block;
    position: relative;
    height: 250px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 3px;
    text-align: left;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.2);
}
.pcontainer:hover {
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.35);
}

.pcontainer img {
    padding: 20px;
}

.pcontainer .desc {
    padding: 0;
    color: black;
}




/*-----------------------------*/



.design-single {
    position: relative;
    min-height: auto;
    text-align: center;
    background-color: #fafafa;
}

.block {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}







/* BIOMOTION ----------------------- */


.biomotion-nav {
    background: #263238;
}
.biomotion-nav a:hover {
    color: #FFE000;
}
.biomotion-nav li a {
    color: #fff;
}
.biomotion-nav .active {
    color: #FFE000;
}
.biomotion {
    color: #263238;
}
.biomotion-color {
    background: #263238;
    color: #fff;
}
.biomotion-color h1 {
    color: #fff;
}

.p2container {
    display: inline-block;
    position: relative;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.p2container h1 {
    margin-bottom: 20px;
}

.p2container p {
    text-align: left;
    line-height: 200%;
}

.intro img {
    margin-top: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.block img {
    max-width: 100%;
    margin-top: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.short {
    height: auto;
}

.offset {
    transform: translateY(100px);
}









/* CENERGI --------------------- */


.cenergi-nav {
    color: #37474F;
    background: #fafafa;
}
.cenergi-nav a:hover {
    color: #E48125;
}

.cenergi-nav li a {
    color: #37474F;
}
.cenergi-nav .active {
    color: #E48125;
}

.cenergi {
    color: #37474F;
}

.cenergi-color {
    background-color: #E48125;
    color: white;
}

.p2container {
    display: inline-block;
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.p2container p {
    text-align: left;
    line-height: 200%;
}
.p2container h1 {
    margin-bottom: 20px;
}

.intro {
    background: url(img/Backgrounds/PeopleBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 130px;
    padding-bottom: 100px;
}





/* CREATIVE WORK --------------------------------------------------------*/


.art {
    position: relative;
    min-height: auto;
    /*background-image: radial-gradient(circle farthest-corner at top, #46befb 10%, #470085 90%);*/
    background: #00BCD4;
    padding-top: 50px;
    padding-bottom: 100px;
    color: white;
    text-align: center;
}

.art img {
    max-width: 100%;
}

.proj {
    display: block;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /*background: #fafafa;*/
}

.proj img {
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.25);
}

.proj > p {
    color: white;
    text-align: left;
    padding: 5px;
    margin-top: 5px;
}






/*  SECTIONS  */
.cwsection {
	clear: both;
	padding: 0px;
	margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
}

/*  COLUMN SETUP  */
.cwcol {
	display: inline-block;
	float:left;
	margin: 0% 0 0% 5%;
    /*padding: 10px;
    background: #fafafa;
    border-radius: 3px;*/
}

.cwcol:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 60%; }
.span_1_of_3 { width: 30%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.cwcol {  margin: 5% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media screen and (min-width: 480px) and (max-width: 800px) {
	.cwcol {  margin: 5% 0 0% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}











/* GRIDS ========================================================*/
.row {
    width: 100%;    
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.row600 {
    width: 100%;
    height: 600px;
}
.row400 {
    width: 100%;
    height: 400px;
}

.full {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col {
    float: left;
}

.whole {
    width: 100%;
}
.half {
    width: 50%;
    display: inline-block;
    float: left;
}
.one-third {
    width: 33%;
    display: inline-block;
    float: left;
}
.two-thirds {
    width: 66%;
    display: inline-block;
    float: left;
}
.fourth {
    width: 25%;
    display: inline-block;
    float: left;
}



/*::selection {
    background: #ffd800; 
    color: white;
}
::-moz-selection {
    background: #ffd800;
    color: white;
}*/







footer {
    position: absolute;
    clear: both;
    display: block;
    width: 100%;
    bottom: 5px;
    font-size: .75em;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
}

footer .fa {
    color: #fff;
    padding: 2px;
}

footer .inverse {
    color: black;
}


/* RESPONSIVE ===================================================*/


/* Phones */
@media screen and (max-width: 480px) {
    
    .about img {
        float: none;
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
        margin-bottom: 30px;
    }
    .bio p {
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }
    .contact {
        max-width: 100%;
    }
    
    
    nav ul {
        display: none;
    }
    nav {
        text-align: left;
        height: auto;
        width: auto;
        margin-top: 10px;
        margin-left: 10px;
    }
    #hamburger {
        visibility: visible;
    }
    .half {
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .right {
        background-color: black;
    }
    .design {
        height: 3800px;
        padding-top: 50px;
    }
    .design li {
        clear: both;
        display: block;
        font-size: 1.25em;
        font-weight: 100;
        text-decoration: overline;
    }
    .design img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .design div {
        float: none;
    }
    .one-third {
        width: 100%;
    }
}



/* Tablets */
@media screen and (min-width: 480px) and (max-width: 800px) {
    
    .about img {
        float: none;
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
        margin-bottom: 30px;
    }
    .bio p {
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    nav ul {
        margin-left: 5%;
        margin-right: 0%;
    }
    .half {
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    /*.right {
        background-color: black;
    }*/
    .design {
        height: 4000px;
        padding-top: 100px;
        background-image: radial-gradient(circle farthest-corner at top, #46befb 10%, #470085 90%);
    }
    .design li {
        display: block;
        font-size: 1.25em;
        font-weight: 100;
        text-decoration: overline;
    }
    .design div {
        float: none;
    }
    .one-third {
        width: 50%;
    }
    
    

}
/* Computers */
@media screen and (min-width: 800px) {
    
}